@import './base.css';
.red-color-text{
  color: var(--red-color);
}
.blue-color-text{
  color: var(--blue-color);
}
.red-color-bg{
  background: var(--red-color);
}
.blue-color-bg{
 background-color: var(--blue-color);
}



.swal2-confirm.btn-primary, .swal2-cancel.btn-primary {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: white;
}

.swal2-confirm.btn-primary:hover, .swal2-cancel.btn-primary:hover {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: white;
}

.custom-card-body{
  background-color: #ffffff;
}

.bgblueuni {
  background-color: var(--vt-c-RedUniempresarial);
}
.nav-link{
  width: 100%;
  border-radius: 5px;
  pad: 5px;
  margin: 10px;

}
.navbar-nav{
  width: 100%;
}

@media (hover: hover) {
  .nav-link:hover {
    background-color: hsla(233, 99%, 49%, 0.424);
    color: white;
    border: 1px solid var(--vt-c-RedUniempresarial);
  }


.router-link-active {
  border: none;
  padding: 16px 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: transparent;
}
.btn-red {
  background-color: var(--red-color);
  color: #ffffff;
  padding: 0.8rem;
  font-size: 1.09rem;
}
.btn-red:hover {
  background-color: var(----color-background);
  color: var(--button-red-color);
  border: 2px solid var(--button-red-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}


.btn-custom {
  background-color: var(--blue-color);
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.btn-custom:hover {
  background-color: var(----color-background);
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}

.btn-cancel { 
  background-color: var(--button-red-color);
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.btn-cancel:hover{
  background-color: var(----color-background);
  color: var(--button-red-color);
  border: 2px solid var(--button-red-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}
}
.thead{
  background-color: var(--blue-color);
}
.nav-link{
  margin: 0px;
 
 

 }
 .div{
  min-height: 60vh;
}
@media (max-width: 500px) {
   .text-danger, input, td, th,  .cardText,  .form-label, .form-select, .form-control { 
    font-size: small; 
  }
  button,.btn-red, .text-success, .btn-outline-danger, .btn-custom, .btn-cancel { 
    font-size: small; 
  }
  .sub, .name, .data, .cardTitle, .modal-title { 
    font-size: larger; 
  }
  .nav-link{
  margin: 0px;
  padding: 5px; 
  font-size: small;

 }
 @media (max-width: 870px) {
  td, th, .btn-red, .cardText, .text-success, .btn-outline-danger, .form-label, .form-select, .btn-custom, .btn-cancel, .form-control { 
    font-size: small; 
  }
  .name, .data, .cardTitle, .modal-title { 
    font-size: larger; 
  }
}
}